{% extends 'dashboard.html' %}
{%block title%}
Destination
{%endblock title%}
{%block body%}
{% load static %}
<link rel="stylesheet" href="{% static 'index.css'%}" />
<section class="packages">
    <h2 class="heading">Popular Destination</h2>

    <div class="box-container">
        
        <div class="box">
            <div class="image">
                <img src="{% static 'assets/janki.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>Janki Mandir, Janakpur</h3>
                <p>Janaki Mandir is one of the greatest pilgrimage sites for Hindus in Nepal. Situated in the heart of
                    Janakpur, this temple has a huge religious and cultural importance. </p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="{% static 'assets/janki.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>Janki Mandir, Janakpur</h3>
                <p>Janaki Mandir is one of the greatest pilgrimage sites for Hindus in Nepal. Situated in the heart of
                    Janakpur, this temple has a huge religious and cultural importance. </p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>
</section>

<section class="packages" id="packages">
    <h1 class="heading">Recommended Destination</h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img src="{% static 'assets/janki.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>Janki Mandir, Janakpur</h3>
                <p>Janaki Mandir is one of the greatest pilgrimage sites for Hindus in Nepal. Situated in the heart of
                    Janakpur, this temple has a huge religious and cultural importance. </p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="{% static 'assets/janki.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>Swayambhunath Stupa, Kathmandu</h3>
                <p>Swayambhunath Stupa, also known as “Monkey Temple” is located on the hilltop in the Northwest of
                    Kathmandu Valley. It is a peaceful place where the beautiful panoramic view of the Kathmandu city
                    can be observed.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="{% static 'assets/pokhara.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>Lakeside, pokhara</h3>
                <p>he Lakeside Retreat Pokhara is an ideal place for peace and relaxation just a short walk from the
                    banks of Phewa lake. </p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="{% static 'assets/buddha.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>Boudha Stupa, Kathmandu</h3>
                <p>Boudhanath is the largest stupa in Nepal which was probably built during the 14th century after the
                    Mughal invasions.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="{% static 'assets/pashupati.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>Pashupati Nath, Kathmandu</h3>
                <p>One of the most sacred Hindu temples of Nepal – Pashupatinath Temple is located on both banks of
                    Bagmati River on the eastern outskirts of Kathmandu. Pashupatinath is the most important temple
                    dedicated to god Shiva. </p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="{% static 'assets/lumbini.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>Lumbini Temple, Lumbini</h3>
                <p>Lumbini, Nepal
                    Lumbini is the birthplace of Lord Buddha, one of the revered figures of history and the founder of
                    Buddhism. Today, it is an important tourism destination among Buddhist pilgrims.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>
    </div>
</section>
{%endblock body%}